NIBRS_ARRESTEE_AZ.csv
NIBRS_ARRESTEE_CO.csv
NIBRS_ARRESTEE_DC.csv
NIBRS_ARRESTEE_DE.csv
NIBRS_ARRESTEE_IA.csv
NIBRS_ARRESTEE_ID.csv
NIBRS_ARRESTEE_IL.csv
NIBRS_ARRESTEE_IN.csv
NIBRS_ARRESTEE_KS.csv
NIBRS_ARRESTEE_KY.csv
NIBRS_ARRESTEE_LA.csv
NIBRS_ARRESTEE_MA.csv
NIBRS_ARRESTEE_MD.csv
NIBRS_ARRESTEE_ME.csv
NIBRS_ARRESTEE_MI.csv
NIBRS_ARRESTEE_MN.csv
NIBRS_ARRESTEE_MO.csv
NIBRS_ARRESTEE_MS.csv
NIBRS_ARRESTEE_MT.csv
NIBRS_ARRESTEE_NB.csv
NIBRS_ARRESTEE_NC.csv
NIBRS_ARRESTEE_ND.csv
NIBRS_ARRESTEE_NH.csv
NIBRS_ARRESTEE_NM.csv
NIBRS_ARRESTEE_NV.csv
NIBRS_ARRESTEE_OH.csv
NIBRS_ARRESTEE_OK.csv
NIBRS_ARRESTEE_OR.csv
NIBRS_ARRESTEE_PA.csv
NIBRS_ARRESTEE_RI.csv
NIBRS_ARRESTEE_SC.csv
NIBRS_ARRESTEE_SD.csv
NIBRS_ARRESTEE_TN.csv
NIBRS_ARRESTEE_TX.csv
NIBRS_ARRESTEE_UT.csv
NIBRS_ARRESTEE_VA.csv
NIBRS_ARRESTEE_VT.csv
NIBRS_ARRESTEE_WA.csv
NIBRS_ARRESTEE_WI.csv
NIBRS_ARRESTEE_WV.csv
NIBRS_ARRESTEE_AL.csv
NIBRS_ARRESTEE_AR.csv
NIBRS_ARRESTEE_CT.csv
NIBRS_ARRESTEE_GA.csv
NIBRS_ARRESTEE_HI.csv
NIBRS_ARRESTEE_WY.csv
